<!-- we need to update all variables to not use post.<property> syntax and, 
    instead, to just use the property names -->
<article class="post">
  <div class="title">
    <a href="{{content}}" target="_blank">{{title}}</a>
    <span>({{content}})</span>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>